<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>GADApplicationIdentifier</key>
	<string>ca-app-pub-3550877198529803~3359459495</string>
	<key>GADIsAdManagerApp</key>
	<true/>
	<key>SKAdNetworkItems</key>
	<array>
		<dict>
			<key>22mmun2rn5.skadnetwork</key>
			<string></string>
			<key>2fnua5tdw4.skadnetwork</key>
			<string></string>
			<key>2u9pt9hc89.skadnetwork</key>
			<string></string>
			<key>3qcr597p9d.skadnetwork</key>
			<string></string>
			<key>3qy4746246.skadnetwork</key>
			<string></string>
			<key>3rd42ekr43.skadnetwork</key>
			<string></string>
			<key>3sh42y64q3.skadnetwork</key>
			<string></string>
			<key>4468km3ulz.skadnetwork</key>
			<string></string>
			<key>47vhws6wlr.skadnetwork</key>
			<string></string>
			<key>4dzt52r2t5.skadnetwork</key>
			<string></string>
			<key>4fzdc2evr5.skadnetwork</key>
			<string></string>
			<key>4pfyvq9l8r.skadnetwork</key>
			<string></string>
			<key>578prtvx9j.skadnetwork</key>
			<string></string>
			<key>5a6flpkh64.skadnetwork</key>
			<string></string>
			<key>7ug5zh24hu.skadnetwork</key>
			<string></string>
			<key>8c4e2ghe7u.skadnetwork</key>
			<string></string>
			<key>8s468mfl3y.skadnetwork</key>
			<string></string>
			<key>9t245vhmpl.skadnetwork</key>
			<string></string>
			<key>a2p9lx4jpn.skadnetwork</key>
			<string></string>
			<key>c6k4g5qg8m.skadnetwork</key>
			<string></string>
			<key>cp8zw746q7.skadnetwork</key>
			<string></string>
			<key>cstr6suwn9.skadnetwork</key>
			<string></string>
			<key>e5fvkxwrpn.skadnetwork</key>
			<string></string>
			<key>ecpz2srf59.skadnetwork</key>
			<string></string>
			<key>eh6m2bh4zr.skadnetwork</key>
			<string></string>
			<key>f38h382jlk.skadnetwork</key>
			<string></string>
			<key>gta9lk7p23.skadnetwork</key>
			<string></string>
			<key>hs6bdukanm.skadnetwork</key>
			<string></string>
			<key>kbd757ywx3.skadnetwork</key>
			<string></string>
			<key>klf5c3l5u5.skadnetwork</key>
			<string></string>
			<key>ludvb6z3bs.skadnetwork</key>
			<string></string>
			<key>mlmmfzh3r3.skadnetwork</key>
			<string></string>
			<key>n38lu8286q.skadnetwork</key>
			<string></string>
			<key>n6fk4nfna4.skadnetwork</key>
			<string></string>
			<key>p78axxw29g.skadnetwork</key>
			<string></string>
			<key>ppxm28t8ap.skadnetwork</key>
			<string></string>
			<key>pwa73g5rt2.skadnetwork</key>
			<string></string>
			<key>s39g8k73mm.skadnetwork</key>
			<string></string>
			<key>t38b2kh725.skadnetwork</key>
			<string></string>
			<key>uw77j35x4d.skadnetwork</key>
			<string></string>
			<key>v4nxqhlyqp.skadnetwork</key>
			<string></string>
			<key>v72qych5uu.skadnetwork</key>
			<string></string>
			<key>v9wttpbfk9.skadnetwork</key>
			<string></string>
			<key>vutu7akeur.skadnetwork</key>
			<string></string>
			<key>wzmmz9fp6w.skadnetwork</key>
			<string></string>
			<key>y5ghdn5j9k.skadnetwork</key>
			<string></string>
			<key>yclnxrl5pm.skadnetwork</key>
			<string></string>
			<key>ydx93a7ass.skadnetwork</key>
			<string></string>
			<key>zq492l623r.skadnetwork</key>
			<string></string>
		</dict>
	</array>
	<key>UIAppFonts</key>
	<array>
		<string>Pretendard-Bold.otf</string>
		<string>Pretendard-Medium.otf</string>
		<string>Pretendard-Regular.otf</string>
	</array>
	<key>UIBackgroundModes</key>
	<array>
		<string>audio</string>
		<string>location</string>
		<string>processing</string>
	</array>
</dict>
</plist>
